<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <script>
            var baseurl="http://localhost:8080/jokes";
        function loadJokes(){
            varxmlhttp=new XMlHttpRequest();
            xmlhttp.open("GET",baseurl+"/all",true);
            xmlhttp.onreadystatechange=function(){
                
            }
        }
        
        
        
        
        </script>
    
    
    </head>
    <body>
        <div align ='center'></div>
        <h1>Jokes List</h1>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>joke</th>
                    <th>punchline</th>
                </tr>
            </thead>
            <tbody>
                
                  
                    
                </tr>
                
            </tbody>
        </table>
    </body>
</html>
